#IMPORTING LIBRARIES ðŸ‘‡

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mp
import seaborn as sb
import re

#READING EXCEL FILE ðŸ‘‡

In [ ]:
data = pd.read_excel("RAGHU PLACEMENTS CONSOLIDATED.xlsx",dtype={"Roll Number":str,"Name":str,"Branch":str,"College":str,
                                                           "YOP":int,"Placement Status":str,"COMPANY":str})

In [ ]:
data

,Roll Number,Name,Branch,College,YOP,Placement Status,COMPANY
0,18981a0310,ABISHEK BAGADHI,Mechanical,Raghu Engineering College,2022,SELECTED,WIPRO
1,18981A0503,Aditi Choudhary,Computer Science,Raghu Engineering College,2022,SELECTED,WIPRO
2,18981a0504,Aishwarya Devarasetty,Computer Science & Engineering,Raghu Engineering College,2022,SELECTED,WIPRO
3,18981a0426,AJAY DADI,Electronics & Communication Engineering,Raghu Engineering College,2022,SELECTED,WIPRO
4,19985a0407,Akanksha Naidu Galla,Electronics & Communication Engineering,Raghu Engineering College,2022,SELECTED,WIPRO
...,...,...,...,...,...,...,...
907,173J1A0564,KATTAMURI SAI SATYA SANJANA,CSE,Raghu Institute of Technology,2021,SELECTED,CRMIT
908,173J1A0572,KRALETI RAGHAVENDRA,CSE,Raghu Institute of Technology,2021,SELECTED,CRMIT
909,173J1A0575,KUTCHERLAPATI HIMA BHARGAVI,CSE,Raghu Institute of Technology,2021,SELECTED,CRMIT
910,173J1A0580,MAHADASYAM PRIYANKA,CSE,Raghu Institute of Technology,2021,SELECTED,CRMIT
911,173J1A0587,MATHA BHARGAVI,CSE,Raghu Institute of Technology,2021,SELECTED,CRMIT

#UNDERSTANDING DATA ðŸ‘‡

In [ ]:
data

In [ ]:
data.shape

(836, 7)

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data["Branch"].describe()

In [ ]:
data["Branch"].count()

In [ ]:
unique_branches = data["Branch"].unique()
unique_branches
# branches = {'Mechanical':"Mech"}

array(['Mechanical', 'Computer Science', 'Computer Science & Engineering',
       'Electronics & Communication Engineering',
       'Electrical & Electronics Engineering', 'Civil',
       'Mechanical Engineering', nan,
       'Electronics and Telecommunication Engineering',
       'Civil Engineering', 'Electronics',
       'Electronics & Electrical Communication Engineering', 'CIVIL',
       'CSE', 'ECE', 'EEE', 'MECH', 'Mech'], dtype=object)

In [ ]:
dd=data[data["Branch"].isna()].count() # OR isnull()
dd

Roll Number         44
Name                44
Branch               0
College             44
YOP                 44
Placement Status    44
COMPANY             44
dtype: int64

#CONVERTING lower-case CHARACTERS OF ROLL NUMBER TO UPPER-CASE ðŸ‘‡

If you want to remove any white-space after a digit and capitalize all letters, you can use:

**df['column'] = [re.sub('(\\d)\\s+', '\\1', (x.upper())) for x in df['column']]**


**Explanation:**

1) re.sub() - Does text replacement with regular expressions.

2) (\\d)\\s+ - Selects a digit in a capture group, followed by one or more white spaces.

3) \\1 - Replaces the above selection with only the selected digit, thus removing the white-space.

4) x.upper() - Converts the strings to uppercase.

OR

You can use pandas apply function:

**import re**

**df = pd.DataFrame({'col': ['1 st ST', '10 th AV', 'Main st']})**

**df.col.apply(lambda x: re.sub('(\\d)\\s+', '\\1', x).upper())**

In [ ]:
for i in data["Roll Number"]:
  i=str(i)

  data["Roll Number"].replace(to_replace=i,value=i.upper(),inplace=True)

  # data.replace(to_replace=i,value=re.sub('(\d)\s','\1',i.upper()),inplace=True,regex=True)

  # data.replace(to_replace=i,value=re.sub('(\\d)\\s+','\\1',i.upper()),inplace=True,regex=True)

data

#BRANCH COLUMN ðŸ‘‡

In [ ]:
for i in data["Branch"]:
  i=str(i)
  if i.startswith("M"):
    # i=i.replace(i,"MECH")
    # print(i)
    data["Branch"].replace(to_replace=i,value="MECH",inplace=True)

  elif i.startswith("C") and  "L" in i:
    # i=i.replace(i,"CIVIL")
    data["Branch"].replace(to_replace=i,value="CIVIL",inplace=True)

  elif i.startswith("C") and  "S" in i:
      # i=i.replace(i,"CSE")
      data["Branch"].replace(to_replace=i,value="CSE",inplace=True)

  elif i.startswith("E") and "COMMUNICATION" in i or i=="ECE":
      # i=i.replace(i,"ECE")
      data["Branch"].replace(to_replace=i,value="ECE",inplace=True)

  elif i!="NAN":
      # i=i.replace(i,"EEE")
      data["Branch"].replace(to_replace=i,value="EEE",inplace=True)

  elif i=="NAN":
      data["Branch"].replace(to_replace=i,value=i.lower(),inplace=True)

data

,Roll Number,Name,Branch,College,YOP,Placement Status,COMPANY
0,18981a0310,ABISHEK BAGADHI,MECH,Raghu Engineering College,2022,SELECTED,WIPRO
1,18981A0503,Aditi Choudhary,CSE,Raghu Engineering College,2022,SELECTED,WIPRO
2,18981a0504,Aishwarya Devarasetty,CSE,Raghu Engineering College,2022,SELECTED,WIPRO
3,18981a0426,AJAY DADI,EEE,Raghu Engineering College,2022,SELECTED,WIPRO
4,19985a0407,Akanksha Naidu Galla,EEE,Raghu Engineering College,2022,SELECTED,WIPRO
...,...,...,...,...,...,...,...
907,173J1A0564,KATTAMURI SAI SATYA SANJANA,CSE,Raghu Institute of Technology,2021,SELECTED,CRMIT
908,173J1A0572,KRALETI RAGHAVENDRA,CSE,Raghu Institute of Technology,2021,SELECTED,CRMIT
909,173J1A0575,KUTCHERLAPATI HIMA BHARGAVI,CSE,Raghu Institute of Technology,2021,SELECTED,CRMIT
910,173J1A0580,MAHADASYAM PRIYANKA,CSE,Raghu Institute of Technology,2021,SELECTED,CRMIT
911,173J1A0587,MATHA BHARGAVI,CSE,Raghu Institute of Technology,2021,SELECTED,CRMIT

#FILLING NA VALUES AND CHANGING INDEX

In [ ]:
df1=data.fillna(method="ffill",axis="columns") #or axis=1 for columns and axis=0 for rows

In [ ]:
df1.info()

CHANGING INDEX:

In [ ]:
a = np.arange(1,len(data["Branch"])+1)
df1.index=a
df1

#EXPORTING DATA TO EXCEL ðŸ‘‡

In [ ]:
df1.to_excel("new.xlsx")

#ROUGH ðŸ‘‡

In [ ]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)
# [a-zA-Z]

The9rain9in9Spain

In [ ]:
text="hello world 983"
# df['column'] = [re.sub('(\\d)\\s+', '\\1', (x.upper())) for x in df['column']]
# "\d"

# d=re.sub("\d","\s".upper(),text)

# x = re.search("\s", text)

# y=re.sub(text,text.replace('\s',),text)

y = re.search("\d",text.upper(),text)

x = re.search("\s", text)

print(y)

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [ ]:
df["column1"].replace({"a": "x", "b": "y"}, inplace=True)
df = pd.DataFrame({"column1": ["a", "b", "a"]})

In [ ]:
da = range(1,len(data["Branch"]))

print(da)

a = np.arange(1,len(data["Branch"]))

print(len(a))

range(1, 912)
911